<!-- Topbar Start -->
<div class="navbar-custom">
  <div class="container-fluid">
    <!-- LOGO -->
    <div class="logo-box mx-auto">
      <a routerLink="/" class="logo text-center">
        <span class="logo-lg">
          <img src="assets/images/logo-light.png" alt="" height="40">
        </span>
        <span class="logo-sm">
          <img src="assets/images/logo-light.png" alt="" height="40">
          <button (click)="addToHomeScreen()" class="btn btn-waves-effect btn-lighten-blue ml-5 btn-xs"><i class="fas fa-plus-circle"></i> Install App</button>
        </span>
      </a>
    </div>
  </div>
</div>
<!-- end Topbar -->

