<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">

                <li class="has-submenu">
                    <a [routerLink]="['/']" class="side-nav-link-ref"><i class="mdi mdi-view-dashboard"></i>Dashboard</a>
                </li>

                <li class="has-submenu">
                    <a href="javascript: void(0);" (click)="onMenuClick($event)">
                        <i class="mdi mdi-share-variant"></i>Menu Levels <div class="arrow-down"></div>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="javascript: void(0);" class="side-nav-link-ref">Level 1.1</a>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript: void(0);" (click)="onMenuClick($event)">Level 1.2 <div
                                    class="arrow-down"></div></a>
                            <ul class="submenu">
                                <li>
                                    <a href="javascript: void(0);" class="side-nav-link-ref">Level 2.1</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);" class="side-nav-link-ref">Level 2.2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->