<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        2020 © Crafted with <span class="text-danger"><i class="fas fa-heart"></i></span> by <a href="https://ossamarafique.com">Ossama Rafique</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://github.com/OssamaRafique/Corona-Statistics-And-Tracker-Dashboard-Angular-9"><span class="text-blue"><i class="fab fa-osi"></i></span> Proudly Open Source</a>
          <a href="https://ko-fi.com/ossamarafique"><span class="text-warning"><i class="fas fa-mug-hot"></i></span> Buy me a Coffee</a>
          <a href="https://www.ossamarafique.com/#contact"><span class="text-success"><i class="far fa-paper-plane"></i></span> Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</footer>